*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
gradlew
wrapper
caches
codeStyles
gradle.xml
libraries
misc.xml
modules.xml
runConfigurations.xml
workspace.xml
build.gradle
gradle.properties
gradlew.bat
settings.gradle
